html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    background-color: #000
}

div {
    text-align: center;
}

input,
label {
    display: inline-block;
    vertical-align: middle;
    font-size: large;
}

label {
    margin-left: 100px;
}
